---
---

@import "{{ site.theme }}";

title {
    font-size: 10px;
}

audio {
    width: 220px;
    height: 60px;
}


#audio_mel {
    width: 220px;
    height: 60px;
}

#wrap {
    display: flex;
}

